/* External styling sheet for most of the styling. Internal styling was used in common.php for the currently active page styling.*/

* {    
    box-sizing: border-box;
}

/* styles for the entire navigation bar  */
#top-nav-left,
#top-nav-center,
#top-nav-right,
#top-nav {    
    height: 60px;
    background-color: #333;    
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*  styles and structure for the generic page body*/
body { /* color + page starts from the edges. */
    background-color: rgba(211, 211, 211, 0.487);
    margin: 0;   
}

/* structures for the top navigation bar (left area only) */
#top-nav-left {    
    float: left;
    overflow: hidden;    
}

/*  structures for the top navigation bar (centre area only) */
#top-nav {    
    float: none;
    overflow-y: visible;
}

/*structures for the top navigation bar (right area only)*/
#top-nav-right {    
    float: right;
    overflow: hidden;
}

/*  styling for the top navigation bar anchors (left area only)  */
#top-nav-left a {    
    display: block;
    color: #ffffff;
    text-decoration: none;
}

/*  styling for the top navigation bar anchors on hover (left area only) */
#top-nav-left a:hover {    
    background-color: #e41575;
    color: black;
}

/*  styling for the top navigation bar anchors (right area only) */
#top-nav-right a {    
    float: left;
    display: block;
    color: #ffffff;
    padding: 15px 17px;
    text-decoration: none;
}

/*  styling for the top navigation bar anchors on hover (left area only) */
#top-nav-right a:hover {    
    background-color: black;
    color: #e41575;
}

/*  styling for the page footers */
/* old background-color: lightgray; */
#footer {
    background-color: grey;    
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px;
}


/*  styling and structure/postion for the table (leaderboards)*/
.table {    
    padding: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 0, 0);
}

/*  styling and structure/postion for the table rows */
td,tr{    
    border-bottom: 1px solid rgb(0, 0, 0);     
}

/*  styling and structure/postion for the table rows and headers */
td,tr,th{
    border-bottom: 1px solid rgb(0, 0, 0);     
}
