<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Document</title>

</head>

<body>

    <div id="app">
        <!-- The <div> ID will be used to link to the Vue.js code -->
        <button v-on:click="sortAlphabetical">Sort:By Subject</button>
        <button v-on:click="sortByCity">Sort:By Location</button>
        <button v-on:click="sortNumerical">Sort:By price</button>

        <div v-if='goToCheckoutPage == false'>
            <button @click="goToCheckoutPage = !goToCheckoutPage"
                v-bind:disabled="this.countsLessonSpacesInCart() == 0">
                Cart
            </button>
            <div class="inputContainer">
                <input type="search" id="search" name="search" onkeypress="this.search()" @keyup="search()">
                <button v-on:click="search()">Search</button>
            </div>
            <div class="cardContainer">
                <div v-for="product in searchList" :key="Math.floor(Math.random() * 1000)*Date.now()">
                    <div class="cart">
                        <p>Subject:{{product.subject}}</p>
                        <p>Price:{{product.price}}</p>
                        <p>Spaces:{{product.spaces}}</p>
                        <p>Location:{{product.location}}</p>
                        <img class="icon"  v-bind:src="iconSrc" style="width:50px;height:50px" />
                        <button v-on:click="buy(product)" v-bind:disabled="product.spaces == 0">Add to cart</button>
                    </div>
                </div>
            </div>
            <h1>Lessons shop</h1>
            <div class="cardContainer">
                <div v-for="product in products" :key="Math.floor(Math.random() * 1000)*Date.now()">
                    <div class="cart">
                        <p>Subject:{{product.subject}}</p>
                        <p>Price:{{product.price}}</p>
                        <p>Spaces:{{product.spaces}}</p>
                        <p>Location:{{product.location}}</p>
                        <img class="icon"  v-bind:src="iconSrc" style="width:50px;height:50px" />
                        <button v-on:click="buy(product)" v-bind:disabled="product.spaces == 0">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <button @click="goToCheckoutPage = !goToCheckoutPage"
                v-bind:disabled="this.countsLessonSpacesInCart() == 0">
                Shop
            </button>
            <h1>Cart:</h1>
            <div class="cardContainer">
                <div v-for="product in cart" :key="Math.floor(Math.random() * 1000)*Date.now()">
                    <div class="cart" v-if='product.spaces > 0'>
                        <p>Subject:{{product.subject}}</p>
                        <p>Price:{{product.price}}</p>
                        <p>Spaces:{{product.spaces}}</p>
                        <p>Location:{{product.location}}</p>
                        <img class="icon"  v-bind:src="iconSrc" style="width:50px;height:50px" />
                        <button v-on:click="removeFromCart(product)" v-bind:disabled="product.spaces == 0">Remove from
                            cart</button>
                    </div>
                </div>
            </div>
            <h1>Checkout</h1>
            <div class="inputContainer">
                <input type="text" placeholder="Enter name" v-model="customerName" />

                <input v-model="customerPhone" type="number" pattern=".{10,10}" class="input_fields" required
                    placeholder="Phone number (+91)" />
                <button v-on:click="outpuMessageHandler('Checkout has been submitted')"
                    v-bind:disabled="customerName.length<2 || customerPhone.toString().length<6">
                    Checkout
                </button>
            </div>
            <p>{{outputMessage}}</p>

        </div>
    </div>
    </div>
    <script src="products.js"></script>
    <script src="cart.js"></script>
    <script type="text/javascript" src="vueInstance.js"></script>
</body>

</html>